.links-for-sites1{
    float: left;
    margin: 4em;
}

.links-for-sites2{
    float: left;
    margin: 4em;
}

.links-for-sites3{
    float: left;
    margin: 4em;
}

.links-for-sites4{
    float: left;
    margin: 4em;
}

.links-for-sites5{
    float: left;
    margin: 4em;
}

.links-for-sites3{
    float: left;
    margin: 4em;
}

.formish{
    clear: both;
}